* {
    box-sizing: border-box;
    font-size: 18px;
    margin: 0px;
    border: 0px;
    list-style: none;
    text-decoration: none;
}

.container
{
    width: 1140px;
    height: 100%;
    margin: auto;
    color: aliceblue;
    background:rgba(32, 32, 32, 0.4);
   
}

html {
    scroll-behavior: smooth;
}

nav{
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color: rgba(255, 0, 0, 0.1);
    height: 80px;
    width: 1140px;
    position: relative;
    
    

}
.second
{
    font-size: 20px;
}
label.logo
{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}
nav ul
{
    float: right;
    margin: right 20px;
}
nav ul li
{
    display: inline-block;
    line-height: 80px;
    margin:0 15px;

}
nav ul li a{
    color: white;
    font-size: 17px;
    text-transform: uppercase;
    padding:7px 13px;
    border-radius: 3px;
}
a.active,a:hover{
    background:#f08b99;
    transition: .5s;
}
body {
    border: 0px;
    margin: 0px;
    padding: 0px;
}

footer {
    display: inline-block;
    width: 100%;
    height:130px;
    background: rgba(243, 131, 131, 0.3);
    bottom:0px;
    margin-top: auto;
}
main
{
    margin:auto;
    text-align: center;
    vertical-align: top;
    padding: 0px;
    padding-bottom:5%;
    border-spacing: 0px;
    
}

h1{
    text-align: center;
}
.register
{
    background-color: rgba(63, 35, 35, 0.1);
    border-radius: 10px;
    margin: auto;
    width: 500px;
    position: relative;
    top: 50px;
    left:300px;
    margin: 50px;
}
#register
{
    width:500px;
    align-content: center;
    vertical-align: middle;
    margin: auto;

}
.for
{
    padding: 80px;
}
.x1
{
    position: relative;
    top: -100px;
}
.x2
{
    text-align: center;
    font-size: 35px;
    padding-top: 10px;
}
dt{
    text-align: left;
    font-size: 30px;
    font-weight: bold;
}
dd{
    text-align: left;
    font-size: 25px;
}
.ok
{
    right: -100px;
}
.empty
{
padding: 0px;
}